<h2>Movie-{{ViewCtrl.movie.title}}</h2>
<br />

<form class="form-horizontal">
    <div class="form-group">
        <label for="movieGenre" class="control-label col-xs-2">Genre</label>
        <div class="col-xs-10">
            <p class="form-control-static">
                {{ViewCtrl.movie.genre}}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="movieReleaseDate" class="control-label col-xs-2">Release Date</label>
        <div class="col-xs-10">
            <p class="form-control-static">
                {{ViewCtrl.movie.releaseDate | date}}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="movieRating" class="control-label col-xs-2">Rating</label>
        <div class="col-xs-10">
            <p class="form-control-static">
                {{ViewCtrl.movie.rating}}
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="ViewCtrl.editMovie()">Edit</button>
            <button class="btn btn-danger" ng-click="ViewCtrl.goToMovies()">Cancel</button>
        </div>
    </div>
</form>





