<h2>Movie-{{EditCtrl.movie.title}}</h2>
<br />

<form class="form-horizontal">
    <div class="form-group">
        <label for="movieGenre" class="control-label col-xs-2">Genre</label>
        <div class="col-xs-10">
            <input type="text" ng-model="EditCtrl.movie.genre" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="movieReleaseDate" class="control-label col-xs-2">Release Date</label>
        <div class="col-xs-10">
            <input ng-model="EditCtrl.movie.releaseDate" gb-datepicker class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="movieRating" class="control-label col-xs-2">Rating</label>
        <div class="col-xs-10">
            <input type="number" ng-model="EditCtrl.movie.rating" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="EditCtrl.updateMovie()">Save</button>
            <button class="btn btn-danger" ng-click="EditCtrl.goToMovies()">Cancel</button>
        </div>
    </div>
</form>